/* Variables*/
$color-one: #ffffff;
$color-two:#222222;
$color-three: #fed136;
$color-four: #333333;
$color-five: #737373;
$color-six: #777777;
$color-seven: #000000;
$color-eight: #da2713;
$color-nine: #00aced;
$color-ten: #3b5998;
$color-eleven: #555555;
$color-twelve: #cb2028;
/*fonts*/
$font-one: 'Noto Serif TC', serif;
$font-two: 'Montserrat', sans-serif;
$font-three: 'Roboto Slab', serif;
/*Global*/
*, *::before, *::after {
    box-sizing: border-box;
}