/* Variables*/
$color-one: #ffffff;
$color-two: #fed136;
$color-three: #333333;
$color-four: #777777;
$color-five: #000000;
$color-six: #00aced;
$color-seven: #555555;
$color-eight: #f7f7f7;
/*fonts*/
$font-one: 'Dancing Script', cursive;
$font-two: 'Montserrat', sans-serif;
$font-three: 'Roboto Slab', serif;
/*Global*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*grid*/
.col-1 {flex: 8.333%;}
.col-2 {flex: 16.667%;}
.col-3 {width: 29%;}
.col-4 {flex: 33.333%;}
.col-5 {flex: 41.667%;}
.col-6 {flex: 50%;}
.col-7 {flex: 58.333%;}
.col-8 {flex: 66.667%;}
.col-9 {flex: 75%;}
.col-10 {flex: 83.333%;}
.col-11 {flex: 91.667%;}
.col-12 {flex: 100%;}
/*transition*/
$transition: all 0.3s;
body{
    margin: 0;
    padding: 0;
    text-align: center;
}
.row,
ul{
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 80%;
    margin: 0 auto;
}
section{
    padding: 90px 0;
}
.section-title{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $font-two;
    letter-spacing: -1px;
    color: #222222;
    margin-bottom: 0;
}
.section-q{
    font-size: 16px;
    color: $color-four;
    font-style: italic;
    padding-bottom: 50px;
}
a{
    text-decoration: none;
    color: $color-one;
    &:hover{
        color: $color-six;
    }
}
.btn{
    display: inline-block;
    padding: 1em 2em;
    background: $color-two;
    font-size: 18px;
    text-transform: uppercase;
    font-family: $font-two;
    transition: $transition;
    &:hover{
        background: $color-six;
        color: $color-one;
    }
}
.icon{
    font-size: 41px;
    color: $color-two;
    width: 100px;
    height: 100px;
    line-height: 90px !important;
    border: solid $color-two 5px;
    border-radius: 50%;
    text-align: center;
}
/*navigation*/
.linear-list{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    li{
        list-style: none;
        margin-right: 1.5em;
        text-transform: uppercase;
        font-family: $font-two;
        font-weight: 400;
        &:last-of-type{
            margin: 0;
        }
    }
}
.before{
    z-index: 1;
}
/*header*/
header{
    position: relative;
    height: 100vh;
    background: url("/images/Background_Image.png");
    background-position: center, center;
    background-size: cover;
    background-attachment: fixed;
    color: $color-one;
    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: $color-five;
        opacity: .5;
    }
}
.inner{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    display: inline-block;
}
.inner-top-text{
    font-size: 40px;
    font-style: italic;
    letter-spacing: -1px;
    font-family: $font-three;
    text-transform: capitalize;
}
.inner-bottom-text{
    font-size: 75px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1.88px;
    font-family: $font-two;
    margin: 0 0 40px 0;
}
.golden{
    font-size: 36px;
    margin: 0;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 1.3px;
    color: $color-two;
    font-family: $font-one;
}
/*services*/
.services-item{
    background: transparent;
    transition: $transition;
    padding: 20px;
    
    &:hover{
        transform: scale(1.1);
        box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
    }
    
    p{
        font-family: $font-three;
        color: $color-four;
        margin: 0;
    }
    
    h3{
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.45px;
        font-family: $font-two ;
    }
}
/*portfolio*/
.portfolio{
    background: $color-eight;
}

.row-portfolio{
    justify-content: space-between;
}

.tile{
    background: $color-one;
    margin-bottom: 30px;
}

.img-tile{
    height: 300px;
    overflow: hidden;
        
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: $transition;
            
        &:hover{
            transform: scale(1.2);
            opacity: 0.7;
        }
    }
}

.tile-title{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.45px;
    color: $color-three;
    margin-bottom: 0;
    font-family: $font-two;
}

.tile-q{
    font-style: italic;
    margin-top: 0;
    padding-bottom: 20px;
}
/*footer*/
.footer-text{
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.35px;
}
.center{
    position: relative;
    margin: 0 auto;
   
    .linear-list{
        justify-content: center;
    }
    
    ul{
        margin: 0;
    }
    
    i{
        font-size: 18px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: $color-one;
        background: $color-five;
        border-radius: 50%;
        margin: 20px 0;
        transition: $transition;
        
        &:hover{
            transform: scale(1.3);
        }
    }
}
.left{
    position: absolute;
}
.footer-text{
    letter-spacing: -0.35px;
    font-weight: 400;
    color: $color-seven;
    font-size: 14px;
    line-height: 55px;
}

a{
    span{
        display: none;
    }
}
/*smartphone media q*/
@media (max-width: 767px){
    .row{
        flex-direction: column;
    }

    .disapear{
        display: none;
    }

    .col-3{
        min-width: 350px;
        max-width: 550px;
        margin: 0 auto;
    }
    
    .left{
        position: relative;
        order: 2;
        justify-content: center;
    }

    header{
        position: relative;
    }
    .golden{
        font-size: 90px;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
    }

    .inner{
        top: 80%;
    }

    .linear-list{
        justify-content: center;
    }
}
    /*tablet media q*/

    @media (min-width: 768px) and (max-width: 991px){
        .col-3{
            width: 45%;
        }

        .disapear-tablet{
            display: none;
        }

        .left{
            position: relative;
        }

        .footer-text{
            text-align: left;
        }
    }